<aside>

	<div class="panel radius">
		<p><small>Only he deserves freedom and life,</small></p>
        <p><small>Who must conquer it each day.</small></p>
        <p><small>And that is how, surrounded here by danger,</small></p>
        <p><small>Youth, maturity and age spend each industrious year.</small></p>
		<p><small>Such a throng I would like to see,</small></p>
		<p><small>To stand on free ground with a free people,</small></p>
		<p><small>Then to the moment I could say:</small></p>
		<p><small>“Stay a while, you are so beautiful!</small></p>
		<p><small>The trace of my days on earth</small></p>
		<p><small>Cannot fade for aeons.” </small></p>
		<p><small>					—— Faust II (lines 11575-79)</small></p>
	</div>	

	<div class="panel radius">
		<p>先生，如我饮酒，<p>	
		<p>如我耗费生命于酒和爱的混淆，</p>
		<p>请勿责备；</p>
		<p>当我醒时，我和敌人并坐；</p>
		<p>我忘怀自己时，是和朋友一起。</p>
		<p>					—— Abul Khayr</p>

	</div>	

	<div class="panel radius">
		<p>不要嘲讽，不要悲泣，不要怨天尤人。</p>
		<p>只要理解。</p>
		<p>					—— Spinoza</p>
			
	
	</div>


	
</aside>