<aside>

	<div class="border-dotted radius b10">
		<img src="http://ziwendong.github.io/yongergui//assets/img/apple-touch-icon-180x180-precomposed.png" alt="">
		<p class="text-left">
			欢迎访问<a href="http://www.douban.com/people/gaobiedeying/">我的豆瓣</a>
		</p>
	</div>

	<div class="panel radius">
		
		<p>Only he deserves freedom and life,</p>
        <p>Who must conquer it each day.</p>
        <p>And that is how, surrounded here by danger,</p>
        <p>Youth, maturity and age spend each industrious year.</p>
		<p>Such a throng I would like to see,</p>
		<p>To stand on free ground with a free people,</p>
		<p>Then to the moment I could say:</p>
		<p>“Stay a while, you are so beautiful!</p>
		<p>The trace of my days on earth</p>
		<p>Cannot fade for aeons.” </p>
		<p>					—— Faust II (lines 11575-79)</p>
		<p>	</p>

		<p>先生，如我饮酒，<p>	
		<p>如我耗费生命于酒和爱的混淆，</p>
		<p>请勿责备；</p>
		<p>当我醒时，我和敌人并坐；</p>
		<p>我忘怀自己时，是和朋友一起。</p>
		<p>					—— Abul Khayr</p>

		<p></p>
		<p>不要嘲讽，不要悲泣，不要怨天尤人。</p>
		<p>只要理解。</p>
		<p>					—— Spinoza</p>
			
		
	</div>


	
</aside>